API_URL= https://admin-pre-stg-gachadynamic.codeline.id/api/
GOOGLE_API=AIzaSyCr-_CN0BNZ53YPzV5TwP8KBpR1td2foCg
APP_NAME=マイページ｜旅ろっ！愛知 × ぐるっとツアー
META_TITLE=マイページ｜旅ろっ！愛知 × ぐるっとツアー
META_DESCRIPTION=「旅ろっ！愛知×ぐるっとツアー」でご当地モリゾー・キッコロをGETしたよ！
META_IMAGE= https://pre-stg-gachadynamic.codeline.id/images/meta-logo.png
META_URL= https://pre-stg-gachadynamic.codeline.id
META_QUOTE=「旅ろっ！愛知×ぐるっとツアー」でご当地モリゾー・キッコロをGETしたよ！
SECRET_KEY=80ec8d9bb2ae6c77704694f949f1096aa633573f30d5eb1944aba8b2ae2b5d51
NUXT_PUBLIC_GTAG_ID=G-Q82KCCK9LV
NODE_ENV=development
GOOGLE_SITE_VERIFICATION=qPMcINvTopwSKTg-hyULhkmenhQsPoHXCN7OI6ksk2M
TIME_ZONE='Asia/Tokyo'