API_URL= https://admin-food-loss-1.dela-kuji.jp/api/
GOOGLE_API=AIzaSyCr-_CN0BNZ53YPzV5TwP8KBpR1td2foCg
META_IMAGE= https://food-loss-1.dela-kuji.jp/images/meta-logo.png
META_URL= https://food-loss-1.dela-kuji.jp
SECRET_KEY=80ec8d9bb2ae6c77704694f949f1096aa633573f30d5eb1944aba8b2ae2b5d51
NUXT_PUBLIC_GTAG_ID=G-Q82KCCK9LV
NODE_ENV=development
GOOGLE_SITE_VERIFICATION=qPMcINvTopwSKTg-hyULhkmenhQsPoHXCN7OI6ksk2M
TIME_ZONE='Asia/Tokyo'