@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --gold: 40 67% 53%;
    --gray-scorpion: 0 0% 38%;
    --banana: 40 100% 87%;
    --gray-44: 0 0% 44%;
    --red-vermilion: 15 74% 48%;
    --light-grey: 0 0% 82%;
    --dark-grey: 0, 0%, 24%;
    --zinc-100: 0 0% 95%;
    --orange-700: 15 74% 48%;
    --red-900: 5 60% 32%;
    --yellow-300: 58 100% 67%;
    --red-500: 4 65% 56%;
    --green: 155, 100%, 28%;
    --green-light: 96, 80%, 85%;
    --green-tea: 75, 100%, 31%;
    --blue: 172, 53%, 55%;
    --blue-sky: 193, 73%, 48%;
    --yellow-tom: 61, 100%, 45%;
    --purple-gray: 270, 27%, 53%;

    --noto-sans: 'Noto Sans JP', sans-serif;
  }

  #__nuxt {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  html,
  body {
    overflow: hidden;
    overscroll-behavior: none;
    overscroll-behavior-y: none;
    height: 100%;
    width: 100%;
    position: fixed;
    touch-action: none;
  }

  body {
    @apply antialiased bg-gray-50;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-track {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply hidden;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply m-0 appearance-none;
  }
}

@layer components {
  .p-error {
    @apply text-red-500;
  }

  .p-error:first-letter {
    @apply uppercase;
  }
}

.text-word-wrap {
  overflow-wrap: break-word;
}

.w-100 {
  width: 100%;
}

.claim-img {
  max-height: 260px;
}

.text-underline {
  text-decoration: underline;
}

.vhtml-desc ul {
  list-style-type: disc;
  padding-left: 20px;
}

.vhtml-desc li {
  text-align: justify;
}

.vhtml-desc ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.vhtml-desc table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #707070;
}

.vhtml-desc th {
  background-color: #919191;
  color: white;
  border: 1px solid #707070;
  text-align: center;
  padding: 0 8px;
  font-size: 13px;
  font-weight: normal;
}

.vhtml-desc td {
  border: 1px solid #707070;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
}

.small-font {
  font-size: 14px;
}
